*{
    box-sizing: border-box;
    max-width: 1200px;
    max-block-size: 1200px

}
.box1{
width: 180px;
height: 180px;
background-color: blueviolet;
border-radius: 10px;
margin-left: 100px ;
display: flex;
padding: 10px;
gap: 3px ;


}
.container{
display: flex;
flex-wrap: wrap;
padding: 20px;
justify-content: space-evenly;


}


.item1{
    background-color: rgb(255, 208, 0);
    width: 30px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    
}

.just{
    display: flex;
}

.align{
flex-direction: column;
}

.wrap{
   
   flex-wrap: wrap;
}

.around{
    display: flex;
    justify-content: space-between;
}

.end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.alignend{
    align-items: end;
}

.aligncenter{
    align-items: center;
}

